.sec2main{
    width: 100%;
    height: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    padding: 50px;
    justify-content: center;
    align-items: center;
}
.s2left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 15px;
    
}
.s2right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.s2spin{
    position: relative;
    /* width: 363.495px; */
    height: 45vmax;
}
.s2coin{
    position: absolute;
    /* width: 225px; */
    height: 15vmax;
   
}
.s2head{
    color: #FFF;
    text-align: left;
    font-family: "Magison";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px; /* 120% */
}

.s2para{
    color: #B6B6B6;
    font-family: "Manrope";
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.s2smallhead{
    color: #FFF;
    font-family: "Manrope";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.8px; /* 120% */
}
.smallpara{
    color: #B6B6B6;
    font-family: "Manrope";
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.rotate-center {
	-webkit-animation: rotate-center 30s linear infinite both;
	        animation: rotate-center 30s linear infinite both;
}

#contract1{
    height: 60vh;
    width: 100vw;
     display: flex;
     justify-content: center;
     align-items: center;
    overflow: hidden;
    background-size: cover;
    position: relative;
}
#contract {
    
    margin-top: 3vmax;
    margin-bottom: 6vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#contract>h5 {
z-index: 1;
}
#contract>h3 {
    z-index: 1;
    font-size: 2vmax;
}
#contract-button {
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#conV{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    background-position:  center;
    width: 100%;
    height: fit-content;
    z-index: 1;
}
 


 @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }


  @media (max-width: 768px){
    #conV {
          
            width: fit-content;
            
        }
    .sec2main{
        height: 100%;
        flex-direction: column;
        padding: 30px 0px;
    }
    .s2left{
        width: 100%;
        padding: 20px;
    }
    .s2right{
        width: 100%;
    }
    .s2spin{
        position: relative;
        height: 35vmax;
    }
    .s2coin{
        position: absolute;
        width: 100px;
        height: 100px;
       
    }
    .s2para{
        font-size: 15px;
    }
    .smallpara{
        font-size: 15px;
    }
  }
  