.section1 {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 50px; */
    width: 100%;
    min-height: 100vh;
    z-index: 3;
    background-color: #0000;
    /* background-image: url('../assets/back.jpg'); */

    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    overflow: hidden;

    box-shadow: 10px -200px 99px -164px rgba(0, 0, 0, 1) inset;
    -webkit-box-shadow: 10px -200px 99px -164px rgba(0, 0, 0, 1) inset;
    -moz-box-shadow: 10px -200px 99px -164px rgba(0, 0, 0, 1) inset;

}

.vignette {
    box-shadow: inset 0px 0px 85px rgba(0, 0, 0, 0.4);
}

#vid {
    position: absolute;
    background-size: cover;

    /* width: fit-content; */
    margin: 0 auto;

    opacity: 40%;
    background-repeat: no-repeat;
    background-position: top center;
    overflow-x: hidden;
    /* height: 100%; */
    /* width: 100%; */
    z-index: -1;

}

#s1-video {

    /* display: flex; */

transform: rotate(5deg);   
    /* height: 100px;
    width: 100px; */
    /* background-color: red   ; */
    /* position: relative; */
     
}

#hero-blob {

    margin-top: -30vmax;
    height: 250px;
    width: 450px;
    border-radius: 1000px 0px;
    border: 3px solid #00FF47;
    /* background: #0F0717; */
    background: #0F0717;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    overflow: hidden;


}

#blobV {


    border-radius: 100px 0px;
    border: #00FF47;
    height: 100%;
    width: 100%;
    transform: rotate(-25deg);
    object-fit: cover;
}

.shadow {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 143, 129, 0.006127450980392135) 100%);

    width: 100vw;
    height: 10vh;
    /* z-index:66 ; */
    position: absolute;
    bottom: -1%;
z-index: 1;
}

.shadow2 {
    background: rgb(0, 143, 129);
    background: linear-gradient(0deg, rgba(0, 143, 129, 0.006127450980392135) 32%, rgba(0, 0, 0, 1) 100%);
    width: 100vw;
    height: 10vh;
    /* z-index:66 ; */
    position: absolute;
    top: 0;
    z-index: 1;
}

.sectitle {
    width: 100%;
}

.sectitle1 {
    color: #FFF;
    text-align: center;
    font-family: "Magison";
    /* margin-bottom: 100px; */
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sec1desc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 50px;

}

.vision {
    display: flex;
    flex-direction: column;

}

.mission {
    display: flex;
    flex-direction: column;

}

.visionhead {
    color: #E6E1E1;

    font-family: "Magison";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    /* 150% */
}

.visionpara {
    width: 341px;
    height: 136px;
    color: #d6d4d4;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: 17px;
    /* 141.667% */
}

.missionhead {
    color: #E6E1E1;
    text-align: right;
    font-family: "Magison";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    /* 150% */
}

.missionpara {
    width: 341px;
    height: 136px;
    color: #d6d4d4;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    text-align: right;
    line-height: 17px;
    /* 141.667% */
}

.sec1button {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    gap: 5vw;
    z-index: 1;
}

.sec1btn {
    width: 184px;
    height: 41.267px;
    flex-shrink: 0;
    border-radius: 43px;
    background: #35B94E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btntext {
    margin-bottom: 0px;
    color: #ffffff;
    text-align: center;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 21px */
}

@media (max-width:1172px) {
    #hero-blob {
        margin-top: -10px;
    }
}

@media (max-width:768px) {
    #hero-blob {
        height: 180px;
        width: 380px;
    }

    .vision {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    .sec1button {

        align-items: center;

    }

    .section1 {
        /* min-height: 100vh; */
        /* background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.653), rgba(0, 0, 0, 0.3)), url('../assets/back.jpg'); */
    }

    .sec1desc {
        flex-direction: column;
    }

    .sectitle1 {
        margin-top: 10%;
        font-size: 50px;
        padding: 20px;
    }

    .mission {
        display: none;
    }

    .vision p {
        margin-bottom: 0px;
    }

    .mission p {
        margin-bottom: 0px;
    }

    .visionpara {
        font-size: 15px;
    }

    .visionhead {
        font-size: 24px;
    }

    .missionpara {
        font-size: 10px;
    }

    .missionhead {
        font-size: 24px;

    }
}